{% extends 'base.html.twig' %}

{% block title %}Game Mode!{% endblock %}

{% block body %}
<img id="background" src="{{asset('img/background2.jpg')}}" alt="">

<div id="gameModContainer">
<h2>Choisissez votre mode de jeu :</h2>
<div id="childGameModContainer">
    <div class="gameMod">Memory Game</div>
    <div class="gameMod">Type Game </div>
    <div class="gameMod">Generation Game</div>
</div>

</div>

{% endblock %}
