{% extends 'base.html.twig' %}

{% block title %}Game Mode!{% endblock %}

{% block body %}
<img id="background" src="{{asset('img/background2.jpg')}}" alt="">
<img src="{{asset('img/pika_load.gif')}}" id="pikaLoader" alt="pikachu loader">
<audio src="{{asset('music/start.mp3')}}" id="startSound" ></audio>



<div id="gameModContainer">
<h2>Choisissez votre mode de jeu :</h2>
<div id="childGameModContainer">
    <a id="modMemory" ><div class="gameMod" >Memory Game</div></a>
    <a class="lockedMod" href="#"><i class="fa-solid fa-lock"></i><div class="gameMod">Type Game </div></a>
    <a class="lockedMod" href="#"><i class="fa-solid fa-lock"></i><div class="gameMod">Generation Game</div></a>
</div>

</div>

{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('gamemod') }}
{% endblock %}
