{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
<img id="background" src="{{asset('img/background2.jpg')}}" alt="">


<div id="gameContainer">


	<div id="countdownBlock">
    <h4 id="countTitle">Temps restant :
    <p id="countdown">15</p>
    </h4>
    </div>

	<div class="grid">
		{% for i in 1..24 %}
			<div class="grid-item" data-y="{{ i }}" data-x="{{ i }}">
				<img src="{{asset('img/pokeball.svg')}}" alt=""></div>
		{% endfor %}

	</div>
</div>


<script>
	
// Define a variable to store the remaining time (in seconds)
var secondsLeft = 15;

// Define a function to update the countdown
function updateCountdown() { // Update the text of the element with the ID "countdown" to display the remaining time
document.getElementById("countdown").innerText = secondsLeft;

// Decrement the remaining time
secondsLeft--;

// Then, hide the countdown
if (secondsLeft < 0) {
document.getElementById("countdownBlock").style.display = "none";

}
}
// Run the updateCountdown function every second (1000 milliseconds)
{# alert("Observez bien où sont placés les pokémons, vous devrez retrouver les paires face cachée !"); #}
setInterval(updateCountdown, 1000);

// Récupération de l'élément .grid-item
var gridItem = document.querySelector(".grid-item");

// Ajout d'un écouteur d'événement pour l'événement click sur l'élément .grid-item
gridItem.addEventListener("click", function() {
  // Ajout de la classe .gridAnimation à l'élément .grid-item
  gridItem.classList.add(".gridAnimation");
});

</script>
{% endblock %}


