// Sound Btn ON/OFF


#mute {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    position: fixed;
    top: 15%;
    right: 10%;
    background-color: $pokemonRed;
    border-radius: 100%;
    border: solid 2px white;
    padding: 2.6rem;
    cursor: pointer;

    @include for-phone() {
      display: none;
    }

    i {
      font-size: 2.8rem;
      color: #ffffff;
    }
}

     // Class to start animation after modal
     .bounce {
        animation: bounce-top 0.9s 1s both;
      }

  #mute:hover {
    // background-color: #ffffff;
    transition: 2s;
    cursor: url("../cursor/cursor_hover.cur"), auto;
  }

//   Start btn

// Bouton Start accueil

#startBtn {
    font-family: "Orbitron";
    color: #ffffff;
    text-shadow: 2px 4px 2px #3c5aa6;
    border: solid 2px rgb(56, 11, 11);
    background-color: $pokemonRed;
    border-radius: 0.5rem;
    padding: 1.2rem;
    margin-top: 7rem;
    font-size: 2rem;
    margin-left: 4rem;
    animation: heartbeat 3s ease-in-out infinite 3s both;
    // cursor: pointer;
    cursor: url("../cursor/cursor_hover.cur"), auto;
    text-align: center;

    @include for-phone() {
      font-size: 1rem;
      width: 70%;
      border: solid;
      margin-left: 0;
      z-index: 3;
    }
  }

  #startBtn:hover {
    background-color: #132b7b;
    color: white;
    text-shadow: 2px 4px 2px #803a25;
  }

//   Second Page btn

#signInFormContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;

  }